# Multinomial Naive Bayes Implementation

In [1]:
#import all necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("tweets.csv")

In [3]:
df.shape

(7920, 3)

In [4]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [5]:
df.drop("id",axis=1,inplace=True)

In [10]:
y=df.drop("tweet",axis=1)
x=df['tweet']

In [11]:
x.head()

0    #fingerprint #Pregnancy Test https://goo.gl/h1...
1    Finally a transparant silicon case ^^ Thanks t...
2    We love this! Would you go? #talk #makememorie...
3    I'm wired I know I'm George I was made that wa...
4    What amazing service! Apple won't even talk to...
Name: tweet, dtype: object

In [12]:
y.head()

   label
0      0
1      0
2      0
3      0
4      1

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=56)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(stop_words = 'english')

In [21]:
# Fit the training data
training_data = count_vector.fit_transform(x_train)
# Transform testing data
testing_data = count_vector.transform(x_test)

In [22]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()

In [23]:
#train model and make predictions
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)

C:\Users\neha srivastav\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8905723905723906